.flex {
    display: flex;
}
.iframe {
    width: 450px;
    height: 650px;
    transform: translate(-70px, -70px) scale(0.7);
    border:none;

}
@media(min-width: 220px) and  (max-width: 450px){
    .flex{
        display: grid;
    }
}
